<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    
    <!-- Data tables CSS https://datatables.net/examples/styling/bootstrap5.html -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css">
    
    <!-- include main css using url_for to help locate the file within the static directory -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title%}
      <title>{{ title }}</title>
    {% else %}
      <title>UCSB D&CS Records</title>
    {% endif %}
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('bp_main.index') }}">UCSB D&CS Records</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ url_for('bp_locations.locations') }}">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ url_for('bp_projects.projects') }}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ url_for('bp_drawings.search_drawings') }}">Drawings</a>
                        </li>
                    </ul>
                    <!-- Navbar Right Side -->
                    <ul class="navbar-nav d-flex">
                        {% if current_user.is_authenticated %}

                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_drawings.add_drawing') }}">Add Drawing</a>
                        </li>
                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_locations.add_loc') }}">Add Location</a>
                        </li>
                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_users.account') }}">Account</a>
                        </li>
                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_users.logout') }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="https://www.dfss.ucsb.edu/">DFSS Home</a>
                        </li>
                        <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_users.login') }}">Admin Login</a>
                        </li>
                        <!-- <li class="nav-item:">
                            <a class="nav-item nav-link" href="{{ url_for('bp_users.register') }}">Register</a>
                        </li> -->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-sm">
        <div class="row">

            <div class="col-md-9 order-first content-section" >
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-3 order-last content-section" >

                {% if sidebar == 'drawingsearch' %}
                <h4>Search For Drawings:</h4>
                <form method="post" class="row g-3">
                    {{ form.csrf_token }}
            
                    <div class="col-md-6">
                        <label class="form-label">{{ form.locnum.label }}</label>
                        {{ form.locnum(class_="form-control") }}
                        {% if form.locnum.errors %}
                        <ul class="errors">
                        {% for error in form.locnum.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.drawnum.label }}</label>
                        {{ form.drawnum(class_="form-control") }}
                        {% if form.drawnum.errors %}
                        <ul class="errors">
                        {% for error in form.drawnum.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ form.project_title.label }}</label>
                        {{ form.project_title(class_="form-control") }}
                        {% if form.project_title.errors %}
                        <ul class="errors">
                        {% for error in form.project_title.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ form.sheet_title.label }}</label>
                        {{ form.sheet_title(class_="form-control") }}
                        {% if form.sheet_title.errors %}
                        <ul class="errors">
                        {% for error in form.sheet_title.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.sheet_number.label }}</label>
                        {{ form.sheet_number(class_="form-control") }}
                        {% if form.sheet_number.errors %}
                        <ul class="errors">
                        {% for error in form.sheet_number.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.discipline.label }}</label>
                        {{ form.discipline(class_="form-control") }}
                        {% if form.discipline.errors %}
                        <ul class="errors">
                        {% for error in form.discipline.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

            
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
            
                </form>
                {% elif sidebar == 'projectsearch' %}
                <h4>Search For Projects:</h4>
                <form method="post" class="row g-3">
                    {{ form.csrf_token }}
            
                    <div class="col-md-6">
                        <label class="form-label">{{ form.lnum.label }}</label>
                        {{ form.lnum(class_="form-control") }}
                        {% if form.lnum.errors %}
                        <ul class="errors">
                        {% for error in form.lnum.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.drawnum.label }}</label>
                        {{ form.drawnum(class_="form-control") }}
                        {% if form.drawnum.errors %}
                        <ul class="errors">
                        {% for error in form.drawnum.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ form.title.label }}</label>
                        {{ form.title(class_="form-control") }}
                        {% if form.title.errors %}
                        <ul class="errors">
                        {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ form.projectmngr.label }}</label>
                        {{ form.projectmngr(class_="form-control") }}
                        {% if form.projectmngr.errors %}
                        <ul class="errors">
                        {% for error in form.projectmngr.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ form.mainconsult.label }}</label>
                        {{ form.mainconsult(class_="form-control") }}
                        {% if form.mainconsult.errors %}
                        <ul class="errors">
                        {% for error in form.mainconsult.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
            
                </form>


                {% elif sidebar == 'locationpage' %}

                    <h4>Location Explanation</h4>
                    <p>Location numbers beginning at 200 are synonymous with building numbers.  The location numbers from 1 - 199 are categories for projects taking place outside of a building.  
                    <hr>
                    <strong>Click the location number link for a list of projects at that location.</strong> <hr>
                    <strong>Use the search box to filter by location description.</strong> <hr>
                    <strong>Sort table by clicking on column headers.</strong> <hr>
                    
                    </p>

                {% elif sidebar == 'homepage' %}


                    <h5>Additional information:</h5>
                    <p>

                        <strong>Locations</strong> are often synonymous with building numbers.  However location categories are also assigned to projects outside of buildings such as roads, walks, and utilities.  
                        Please browse the locations to gain a greater understanding of our organization strategy.  Click the location link for a list of projects at that location.
                        <hr>
                        Each construction <strong>Project</strong> on campus is assigned a unique <u>UCSB drawing number</u>.  This number is used to organize records and may be found within the title block of record drawings.  
                        Projects are organized by location with an additional 3 digits appended to track successive projects.  
                        For example, the UCSB Drawing Number for the first project in the Library is 525-101 and the next is 525-102. 
                        <hr>
                        We have collected metadata on all of our <strong>record drawings</strong>.  You may use this to search by UCSB drawing number, by project or sheet title, sheet number, etc.  
                        It is best to start with a very broad search and refine it as you go.  
                        <hr>
                        If you have any questions, contact <a href="https://www.ucsb.edu/directory">Paul Bartsch</a>.
                
                        {% elif sidebar == 'addproject' %}
                        <h4>Most recent projects for this locatation number:</h4>
                        <table class="table content-section">
                            <thead>
                                <tr>
                                    <th scope="col">UCSB Drawing#</th> 
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for draw in drawings %}
                                
                                <tr>
                                    <td scope="row"><a href="{{ url_for('bp_projects.project', locnum=draw.locnum, drawnum=draw.drawnum) }}">
                                        {{ draw.locnum }}-{{ draw.drawnum }}</a></td>
                                        <td>{{ draw.title }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            
                            {% elif sidebar == 'drawingedit' %}
                            <h6>Possible Disciplines Include:</h6>
                            <ul>
                                <li>Architectural</li>
                                <li>Structural</li>
                                <li>Mechanical</li>
                                <li>Plumbing</li>
                                <li>Electrical</li>
                                <li>Life Safety</li>
                                <li>Civil</li>
                                <li>Title Sheet</li>
                                <li>Shop Drawings</li>
                                <li>Other</li>
                            </ul>


                            <h6>Possible Versions Include:</h6>
                            <ul>
                                <li>Bid</li>
                                <li>Partial Construction</li>
                                <li>100% Construction</li>
                                <li>As-Built</li>
                                <li>Record</li>
                            </ul>
                            {% else %}
                <p>
                    This is the default sidebar.
                </p>
                {% endif %}
            </div>

        </div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

<div class="d-flex justify-content-center">
    <span class="copyright">Copyright © 2022 The Regents of the University of California. All Rights Reserved.</span> &nbsp; &nbsp; &nbsp; 
    <a href="https://www.ucsb.edu/terms-of-use">Terms of Use</a>  &nbsp; &nbsp; &nbsp; 
    <a href="https://www.ucsb.edu/accessibility">Accessibility</a>
</div>

</footer>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Data tables js https://datatables.net/examples/styling/bootstrap5.html -->
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>


</body>

</html>