{% extends 'base.html' %} {% block content %}
<h2>Assign a Drawing Number to a New Project</h2>
<form method="post" class="row g-3">
    {{ form.csrf_token }}

    <div class="col-md-6">
        <label class="form-label">{{ form.locnum.label }}</label>
        {{ form.locnum(class_="form-control") }}
        {% if form.locnum.errors %}
        <ul class="errors">
        {% for error in form.locnum.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        <label class="form-label">{{ form.drawnum.label }}</label>
        {{ form.drawnum(class_="form-control") }}
        {% if form.drawnum.errors %}
        <ul class="errors">
        {% for error in form.drawnum.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-md-6">
        <label class="form-label">{{ form.contractnum.label }}</label>
        {{ form.contractnum(class_="form-control") }}
        {% if form.contractnum.errors %}
        <ul class="errors">
        {% for error in form.contractnum.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        <label class="form-label">{{ form.projectnum.label }}</label>
        {{ form.projectnum(class_="form-control") }}
        {% if form.projectnum.errors %}
        <ul class="errors">
        {% for error in form.projectnum.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-md-6">
        <label class="form-label">{{ form.projectmngr.label }}</label>
        {{ form.projectmngr(class_="form-control") }}
        {% if form.projectmngr.errors %}
        <ul class="errors">
        {% for error in form.projectmngr.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        <label class="form-label">{{ form.mainconsult.label }}</label>
        {{ form.mainconsult(class_="form-control") }}
        {% if form.mainconsult.errors %}
        <ul class="errors">
        {% for error in form.mainconsult.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-12">
        <label class="form-label">{{ form.title.label }}</label>
        {{ form.title(class_="form-control") }}
        {% if form.title.errors %}
        <ul class="errors">
        {% for error in form.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-12">
        <label class="form-label">{{ form.comments.label }}</label>
        {{ form.comments(class_="form-control") }}
        {% if form.comments.errors %}
        <ul class="errors">
        {% for error in form.comments.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add UCSB Drawing Number</button>
    </div>

  </form>
  {% endblock content%}