{% extends 'base.html' %}
{% block content%}

<h3>{{ heading }}</h3>
<div class="table-responsive">
  <table id="draws_list" class="table content-section table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">UCSB Drawing#</th> 
        <th scope="col">Project Title</th>
        <th scope="col">Sheet Title</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      {% if drawings %}
        {% for draw in drawings %}
        <tr>
          <td scope="row"><a href="{{ 'https://drawings.facilities.ucsb.edu/drawings/{locnum}/{newname}'.format(locnum = draw.locnum, newname = draw.newname) }}" target="_blank">
            {{ draw.locnum }}-{{ draw.drawnum }}-{{ draw.sheet_number }}</a></td>
          <td>{{ draw.project_title }}</td>
          <td>{{ draw.sheet_title }}</td>
          <td>{{ draw.project_year }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>Your query returned no results</td>
        </tr>
      {% endif %}
      
    </tbody>
  </table>
</div>
{% endblock %}


