{% extends 'base.html' %}
{% block content%}


  <table class="table content-section">
    <thead>
      <tr>
        <th scope="col">UCSB Drawing#</th> 
        <th scope="col">Project Title</th>
        <th scope="col">Sheet Title</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>

      {% for draw in drawings %}

      <tr>
        <td scope="row">{{ draw.locnum }}-{{ draw.drawnum }}</td>
        <td>{{ draw.project_title }}</td>
        <td>{{ draw.sheet_title }}</td>
        <td>{{ draw.project_year }}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}


