{% extends 'base.html' %}

{% block content %}
<h3>
        Edit Location# {{ location.locnum }}'s Details
</h3>
<form method="post" class="row g-3 container-fluid">
        <div class="col-md-8">
                <label for="locnum" class="col-md-4 col-form-label" for="locnum">Location Number</label>
                <input type="number" name="locnum" value="{{ location.locnum }}" id="locnum">
                </input>
        </div>
        <div class="col-md-8">
                <label for="locdescrip" class="col-md-4 col-form-label" for="title">Location Description</label>
                <input type="text" name="locdescrip" value="{{ location.locdescrip }}" id="locdescrip">
                </input>
        </div>
        <div class="col-6">
                <button type="submit">Submit</button>
        </div>
        <div class="col-6">
                <form method="POST" class="form-control-file"
                        action="{{ url_for('bp_locations.delete', loc_id=location.id) }}">
                        <input type="submit" value="NOT WORKING -  Delete Location"
                                onclick="return confirm('Are you sure you want to delete this location?')" />
                </form>
        </div>
</form>

{% endblock content %}