{% extends 'base.html' %}

{% block content %}
<h3>
        Edit {{ drawing.locnum }}-{{ drawing.drawnum }}-{{ drawing.sheet_number }}'s details:
</h3>
<form method="post" class="row g-3 container-fluid">
        <div class="col-md-12">
                <label for="newname" class="form-label" for="newname">File Name</label>
                <input type="text" name="newname"
                        value="{{ drawing.newname }}"
                        id="newname"
                        class="form-control">
                </input>
        </div>
        
        <div class="col-md-4">
                <label for="locnum" class="form-label" for="locnum">Location Number</label>
                <input type="number" name="locnum"
                        value="{{ drawing.locnum }}"
                        id="locnum"
                        class="form-control">
                </input>
        </div>
        <div class="col-md-4">
                <label for="drawnum" class="form-label" for="drawnum">Drawing Number</label>
                <input type="number" name="drawnum"
                        value="{{ drawing.drawnum }}"
                        id="drawnum"
                        class="form-control">
                </input>
        </div>
        <div class="col-md-4">
                <label for="project_year" class="form-label" for="project_year">Project Year</label>
                <input type="number" name="project_year"
                        value="{{ drawing.project_year }}"
                        id="project_year"
                        class="form-control">
                </input>
        </div>


        <div class="col-md-8">
                <label for="sheet_number" class="form-label" for="sheet_number">Sheet Number</label>
                <input type="text" name="sheet_number"
                        value="{{ drawing.sheet_number }}"
                        id="sheet_number"
                        class="form-control">
                </input>
        </div>

        <div class="col-md-12">
                <label for="project_title" class="form-label" for="project_title">Project Title</label>
                <input type="text" name="project_title"
                        value="{{ drawing.project_title }}"
                        id="project_title"
                        class="form-control">
                </input>
        </div>
        <div class="col-md-12">
                <label for="sheet_title" class="form-label" for="sheet_title">Sheet Title</label>
                <input type="text" name="sheet_title"
                value="{{ drawing.sheet_title }}"
                id="sheet_title"
                class="form-control">
                </input>
        </div>
        <div class="col-md-4">
                <label for="discipline" class="form-label" for="discipline">Discipline</label>
                <input type="text" name="discipline"
                value="{{ drawing.discipline }}"
                id="discipline"
                class="form-control">
                </input>
        </div>
        <div class="col-md-4">
                <label for="drawing_version" class="form-label" for="drawing_version">Drawing Version</label>
                <input type="text" name="drawing_version"
                value="{{ drawing.drawing_version }}"
                id="drawing_version"
                class="form-control">
                </input>
        </div>
        <div class="col-md-4">
                <label for="project_number" class="form-label" for="project_number">Project Number</label>
                <input type="text" name="project_number"
                        value="{{ drawing.project_number }}"
                        id="project_number"
                        class="form-control">
                </input>
        </div>
        <div class="col-md-12">
                <label for="notes" class="form-label" for="notes">Notes</label>
                <input type="textarea" name="notes"
                value="{{ drawing.notes }}"
                id="notes"
                class="form-control">
                </input>
        </div>
        <div class="col-12">
                <button type="submit">Submit</button>
        </div>
</form>

{% endblock content %}