{% extends 'base.html' %}

{% block content %}
<h1>
    Edit {{ project.locnum }}-{{ project.drawnum }}'s Details
</h1>
<form method="post" class="row g-3">
    <div class="col-md-6">
            <label class="form-label" for="locnum">Location Number</label>
            <input type="number" name="locnum"
                    value="{{ project.locnum }}"
                    >
            </input>
    </div>
    <div class="col-md-6">
            <label class="form-label" for="drawnum">Drawing Number</label>
            <input type="number" name="drawnum"
                    value="{{ project.drawnum }}"
                    >
            </input>
    </div>
    <div class="col-md-6">
            <label class="form-label" for="contractnum">Contract Number</label>
            <input type="text" name="contractnum"
                    value="{{ project.contractnum }}"
                    >
            </input>
    </div>
    <div class="col-md-6">
            <label class="form-label" for="projectnum">Project Number</label>
            <input type="text" name="projectnum"
                    value="{{ project.projectnum }}"
                    >
            </input>
    </div>
    <div class="col-md-6">
            <label class="form-label" for="projectmngr">Project Manager</label>
            <input type="text" name="projectmngr"
                    value="{{ project.projectmngr }}"
                    >
            </input>
    </div>
    <div class="col-md-6">
            <label class="form-label" for="mainconsult">Consultant</label>
            <input type="text" name="mainconsult"
                    value="{{ project.mainconsult }}"
                    >
            </input>
    </div>
    <div class="col-12">
            <label class="form-label" for="title">Project Name</label>
            <input type="text" name="title"
                    value="{{ project.title }}"
                    >
            </input>
    </div>
    <div class="col-12">
        <label class="form-label" for="comments">Comments</label>
        <input type="textarea" name="comments"
            value="{{ project.comments }}"
            >
        </input>
    </div>
    <div class="col-12">
        <label class="form-label" for="daterecorded">Date</label>
        <input type="date" name="daterecorded"
            value="{{ project.date }}"
            >
        </input>
    </div>
    <div class="col-12">
            <button type="submit">Submit</button>
    </div>
</form>

{% endblock content %}