{% extends 'base.html' %}
{% block content%}

  


  <p>
    <img src="{{ url_for('static', filename='cmps-pnt-1500.png') }}" alt="Sunny Campus" class="img-fluid">
  </p>
  <h4>Welcome to the D&CS Records Homepage</h4>
  <p>
    Here you'll have the ability to search all the records in both the projects and the record drawings database. If you have admin priviledges, you can also add new records and make corrections.
  </p>
  <hr>
  <h5>
    Start your search by selecting from the options below:
  </h5>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{{ url_for('drawproj.locations') }}" class="btn btn-primary btn-lg">Browse by Location</a>
      </div>
      <div class="col">
        <a href="{{ url_for('main.projects') }}" class="btn btn-primary btn-lg">Search Projects</a>
      </div>
      <div class="col">
        <a href="{{ url_for('drawproj.search_drawings') }}" class="btn btn-primary btn-lg">Search Drawings</a>
      </div>
    </div>
  </div>
 

{% endblock %}


