{% extends 'base.html' %}
{% block content%}
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">UCSB Drawing#</th>
        <th scope="col">Description</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Consultant</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>

      {% for draw in drawings %}

      <tr>
        <th scope="row"><a href="{{ url_for('project', project_id=draw.id)}}">
          {{ draw.locnum }}-{{ draw.drawnum }}</a></th>
        <td>{{ draw.title }}</td>
        <td>{{ draw.projectmngr }}</td>
        <td>{{ draw.mainconsult}}</td>
        <td>1980</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
      
</div>
{% endblock %}


