{% extends 'base.html' %}
{% block content%}

  {% if filtered_locations %}
  <h4>{{ subheading }}</h4>
  {% endif %}
  <table class="table content-section">
    <thead>
      <tr>
        <th scope="col">UCSB Drawing#</th> 
        <th scope="col">Description</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Consultant</th>
        <th scope="col">Date Recorded</th>
      </tr>
    </thead>
    <tbody>

      {% for draw in drawings %}

      <tr>
        <td scope="row"><a href="{{ url_for('project', locnum=draw.locnum, drawnum=draw.drawnum) }}">
          {{ draw.locnum }}-{{ draw.drawnum }}</a></td>
        <td>{{ draw.title }}</td>
        <td>{{ draw.projectmngr }}</td>
        <td>{{ draw.mainconsult }}</td>
        <td>{{ draw.date | pretty_date  }}</td>
        <!-- <td>{{ draw.date | date_to_year  }}</td> -->

      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}


