{% extends 'base.html' %} 
{% block content %}

<div class="container">


  {% for p in project %}
  <div>

    <h2>UCSB Drawing #{{ p.locnum }}-{{ p.drawnum }}</h2>
    <p><b>Project Name:</b> {{ p.title }}</p>
    <p><b>Project Manager:</b> {{ p.projectmngr }}</p>
    <p><b>Consultant:</b> {{ p.mainconsult }}</p>

    <p><b>Date Assigned:</b> {{ p.date }}</p>
    {% if p.comments %}
    <p><b>Comments:</b> {{ p.comments }}</p>
    {% endif %}
    {% if p.projectnum %}
    <p><b>Project Number:</b> {{ p.projectnum }}</p>
    {% endif %}
    {% if p.contractnum %}
    <p><b>Contract Number:</b> {{ p.contractnum }}</p>
    {% endif %}
    <p><b>Number of drawings in set:</b> coming soon </p>
    <button type="button" class="form-control-file"><a href="{{ url_for('bp_drawings.drawings', locnum=p.locnum, drawnum=p.drawnum) }}">See Drawings</a></button>
    <hr>
    

    {% if current_user.is_authenticated %}
    <hr>
    
    <button type="button" class="form-control-file"><a href="{{ url_for('bp_projects.edit_proj', project_id=p.id) }}">Edit</a></button>

    <form method="POST" class="btn" action="{{ url_for('bp_projects.delete', project_id=p.id) }}">
      <input
        type="submit"
        value="Delete Project"
        onclick="return confirm('Are you sure you want to delete this entry?')"
      />
    </form>

    {% endif %}
  </div>
  {% endfor %}
  
</div>
{% endblock content %}
