{% extends 'base.html' %}
{% block content%}



<h4>{{ subheading }}</h4>

<div class="table-responsive">
  <table id="proj_list" class="table table-hover table-bordered align-middle">

    
    <thead class="table-light">
      <tr>
        <th scope="col">UCSB Drawing#</th> 
        <th scope="col">Description</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Consultant</th>
        <th scope="col">Date Recorded</th>
      </tr>
    </thead>
    <tbody>
      {% if project_list %}
        {% for project in project_list %}

        <tr>
          <td scope="row"><a href="{{ url_for('bp_projects.project', locnum=project.locnum, drawnum=project.drawnum) }}">
            {{ project.locnum }}-{{ project.drawnum }}</a></td>
          <td>{{ project.title }}</td>
          <td>{{ project.projectmngr }}</td>
          <td>{{ project.mainconsult }}</td>
          <td>{{ project.date|string|truncate(5,true) }}</td>

        </tr>
        {% endfor %}
      {% elif no_search %}
      <tr>
        <td>Begin your search on the right -></td>
      </tr>
      {% else %}
        <tr>
          <td>Your query returned no results</td>
        </tr>
      {% endif %}
      
      {% if filtered_locations %}
      <caption>Filtered List of UCSB Construction Projects</caption>
      {% else %}
      <caption>List of UCSB Construction Projects</caption>
      {% endif %}
      
    </tbody>
    
  </table>

</div>

{% endblock %}


