{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Add a New Project {% endblock %}</h1>
    <form method="post">
        {{ form.csrf_token }}

        <p>{{ form.locnum.label }} {{ form.locnum() }}</p>
        {% if form.locnum.errors %}
        <ul class="errors">
        {% for error in form.locnum.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.drawnum.label }} {{ form.drawnum() }}</p>
        {% if form.drawnum.errors %}
        <ul class="errors">
        {% for error in form.drawnum.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.contractnum.label }} {{ form.contractnum() }}</p>
        {% if form.contractnum.errors %}
        <ul class="errors">
        {% for error in form.contractnum.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.projectnum.label }} {{ form.projectnum() }}</p>
        {% if form.projectnum.errors %}
        <ul class="errors">
        {% for error in form.projectnum.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.projectmngr.label }} {{ form.projectmngr() }}</p>
        {% if form.projectmngr.errors %}
        <ul class="errors">
        {% for error in form.projectmngr.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.mainconsult.label }} {{ form.mainconsult() }}</p>
        {% if form.mainconsult.errors %}
        <ul class="errors">
        {% for error in form.mainconsult.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.title.label }} {{ form.title() }}</p>
        {% if form.title.errors %}
        <ul class="errors">
        {% for error in form.title.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>{{ form.comments.label }} {{ form.comments() }}</p>
        {% if form.comments.errors %}
        <ul class="errors">
        {% for error in form.comments.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}


        <p>
            <input type="submit" value="Add" />
          </p>
        </form>
{% endblock %}