{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ project.locnum }}
                               {{ project.drawnum }}'s Details
        {% endblock %}
    </h1>
    <form method="post">

        <p>
            <label for="locnum">Location Number</label>
            <input type="number" name="locnum"
                    value="{{ project.locnum }}"

                    >
            </input>
        </p>

        <p>
            <label for="drawnum">Drawing Number</label>
            <input type="number" name="drawnum"
                    value="{{ project.drawnum }}"
                    >
            </input>
        </p>

        <p>
            <label for="contractnum">Contract Number</label>
            <input type="text" name="contractnum"
                    value="{{ project.contractnum }}"

                    >
            </input>
        </p>

        <p>
            <label for="projectnum">Project Number</label>
            <input type="text" name="projectnum"
                    value="{{ project.projectnum }}"

                    >
            </input>
        </p>

        <p>
            <label for="projectmngr">Project Manager</label>
            <input type="text" name="projectmngr"
                    value="{{ project.projectmngr }}"

                    >
            </input>
        </p>

        <p>
            <label for="mainconsult">Consultant</label>
            <input type="text" name="mainconsult"
                    value="{{ project.mainconsult }}"

                    >
            </input>
        </p>

        <p>
            <label for="title">Project Name</label>
            <input type="text" name="title"
                    value="{{ project.title }}"

                    >
            </input>
        </p>


        <p>
        <label for="comments">Comments</label>
        <input type="textarea" name="comments"
            value="{{ project.comments }}"

            >
        </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>






{% endblock %}