{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="content">

  {% for draw in drawings %}

  <div class="drawing">
    <b>
      <p class="name">
        <a href="{{ url_for('project', project_id=draw.id)}}">
          {{ draw.locnum }}-{{ draw.drawnum }}: {{ draw.title }}
        </a>
      </p>
    </b>
    <p>
      <ul>
        <li>Project #:{{ draw.projectnum }}</li>
        <li>Project Manager: {{ draw.projectmngr }}</li>
        <li>Consultant: {{ draw.mainconsult}}</li>
        <li>Comments: {{ draw.comments }}</li>
      </ul>
       
       
    </p>

  </div>

  {% endfor %}

  


</div>
{% endblock %}


