<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Page</title>
  </head>
  <body>
    <div class="container">
      <form
        action="/updatetodo/{{updatetodo.sno}}"
        id="formSubmission"
        method="POST"
      >
        <span>Title</span>
        <input
          type="text"
          name="title"
          placeholder="enter your Title"
          id="name"
          value="{{updatetodo.title}}"
        />
        <span>Description</span>
        <input
          type="text"
          name="description"
          placeholder="Enter your description"
          id="description"
          value="{{updatetodo.description}}"
        />
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
